.Homepage {
  /* put around the vertical center of page */
  height: 100%;
  color: white;
  text-shadow: 2px 2px 5px rgba(255, 187, 39, 0.862);
  display: flex;
  justify-content: center;
  align-items: center;

}

.Homepage img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.Homepage .artLego{
  margin-top: 15rem;
}