/**** AddToList ****/

.AddToList .formList{
  margin: 1rem;
  text-align: left;
  background-color: white;
  color: black;
  padding-bottom: 1.5rem;
}


.AddToList .formList-btn{
  display: flex;
  justify-content: space-around;

}


.AddToList .formList .form-check{
  margin: 10px 0;
  background-color: white;
  color: black;
  font-size: 1.5rem;
}

.AddToList .formList .form-check .label{
  font-size: 400px;
}


.AddToList .form-check-input:checked {
  background-color: #fdd90d;
  border-color: #fdf50d;
}

/**** LegoAlterates ****/

.LegoAlterates {
  border: solid 2px gray;
  margin-bottom: 10px;
  background-color: white;
}

.LegoAlterates-row {
  margin-top: 1rem;
  border: solid 1px lightgray;
  padding: 15px;
  background-color: white;
}

.LegoAlterates-title {
  text-align: left;
  border-bottom: #f9f946 2px solid;
  margin: 10px 0px 40px 0px;
}

.LegoAlterates-img {
  width: 100%;
  height: 144px;
}

.LegoAlterates-col {
  padding: 10px 5px;
}

.LegoAlterates-set {
  border: solid 1px #ddd;
  margin-bottom: 10px;
  background-color: var(--bg-sets);
}

.LegoAlterates-set-name a {
  color: black;
  text-decoration: none;
}

.LegoAlterates-by a {
  color: #959519;
}



/**** LegoLists ****/

.LegoLists-list {
  width: 100%;
}

.LegoLists-list {
  align-items: center;
}

.LegoLists-list h4{
  margin-top: 0.5rem;
}

.LegoLists-list a {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
  color: #2c5777;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem 0;
}

.LegoLists-list :hover {
color: white;
  background-color: #182f41;
}

.LegoLists-name {
  margin-left: 2rem;
}

.LegoLists-list a small {
  margin-right: 2rem;
}

.LegoLists .btn {
  color: #fff;
  background-color: #2c5777;
  border-color: #2c5777;
}

.LegoLists .btn:active {
  background-color: #144a6c;
  border-color: #132c65;
}

.LegoLists .btn:hover {
  background-color: #154473;
  border-color: #144a6c;
}

/**** LegoList ****/

.row-button{
  display: flex;
  justify-content: space-between;
}

.remove-button{
  color: white;
  background-color: #860202;
}

.remove-button:hover{
  background-color: #520000;
}


.goBack{
  color: red;
  text-decoration: none;
}

.goBack:hover{
  color: #860202;
}



/**** LegoSet ****/

.LegoSet {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(138, 68, 68, 0.518) 0px 5px 15px;
}

.LegoSet a {
  color: #dc3545;
  text-decoration: none;
  font-weight: bold;
  margin: 0.5rem;
}

.LegoSet a:hover {
  color: #bb2d3b;
}

.LegoSet img {
  object-fit: cover;
  height: 150px;
}


/**** LegoSets ****/

.LegoSets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  list-style-type: none;
}



/**** LegoSetDetails ****/

.LegoSetDetails {
  color: black;
}

.LegoSetDetails h2{
  color: white;
}

.LegoSetDetails-img {
  width: 500px;
  background-color: white;
}


/**** LegoSetSearch ****/

.LegoSetSearch .addTolist-button {
    color: #198754 !important;
    background-color: lightgrey !important;
}

.LegoSetSearch .addTolist-button:hover {
  color: lightgrey !important;
  background-color: #198754 !important;
}



.LegoSetSearch-sets {
  padding-top: 2rem;
}

.LegoSetSearch .LegoSet a {
  color: #198754;
}

.LegoSetSearch .LegoSet a:hover {
  color: #157347;
}

.LegoSetSearch .btn {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.LegoSetSearch .btn:hover {
  background-color: #157347;
  border-color: #146c43;
}

.LegoSetSearch .btn:active {
  background-color: #146c43;
  border-color: #13653f;
}




@media (max-width: 700px) {
  .LegoSetDetails-img {
    width: inherit;
  }
}


@media (max-width: 700px) {
  .LegoSetDetails-img {
    width: inherit;
  }
}